{{ include('pages/inc/header.html.twig') }}
<div class="container">
    <h3>VIEW POST</h3>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            POST
        </a>
        <p class="list-group-item" >{{ post.title }}</p>
        <p class="list-group-item" >{{ post.description }}</p>
        <p class="list-group-item" >{{ post.category }}</p>
        <p class="list-group-item" >
            <a href="{{ absolute_url(asset('')) }}post" class="btn btn-primary">Back</a>
        </p>
    </div>
</div>
{{ include('pages/inc/footer.html.twig') }}